a {
    color: var(--secondary);
    text-decoration: none;
    transition: all 0.2s ease;
}
a:hover {
    color: var(--secondaryLight);
}
.article-relatives ul,
.article-relatives ol {
    margin: 0;
    padding: 0;
}
#navbar-container,
.article-subscribe,
.article-sidebar {
    display: none;
}
.article-header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.60);
    width: 100%;
    height: 100%;
    z-index: 0;
}
.container {
    max-width: 1600px;
    width: 90%;
    margin: 0 auto;
}
.search input[type="search"] {
    height: 40px;
}
.logo img {
    left: 25px;
    height: 30px;
    margin-right: 0;
}
.header {
    height: 54px;
    max-width: var(--maxWidth);
    width: 90%;
    margin: 0 auto;
}
.sub-nav {
    position: relative;
    max-width: var(--maxWidth);
    width: 90%;
    margin: 0 auto;    
}
.article-footer, .article-votes, .section.support, .article-more-questions, .article-return-to-top, .article-relatives, .footer-inner {
    max-width: var(--maxWidth);
    width: 90%;
    margin: 0 auto;    
}
.footer, .article-header {
    margin: 0;
}
.article-title {
    max-width: var(--maxWidth);
    width: 90%;
    font-size: 50px;
    line-height: 56px;
    font-weight: 700;
    margin: 0 auto;
    padding-bottom: 14px;
    padding-right: 30%;
    color: #FFF;
    z-index: 1;
}
.article-author {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    color: #FFF;
    z-index: 1;    
}
.article-greeting {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 15px;
    color: #DDD;
}